body {
  font-family: Poppins, sans-serif;
  background-color: #121212;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
}

.line-1 {
  position: fixed;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 300%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-550%);
  color: #fff;
}

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite paused;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 24em; }
  100% { border-color: transparent; }
}
.anim-typewriter.done {
  animation-play-state: paused; 
}

.anim-typewriter.done::after {
  content: '';
  display: inline-block;
  width: 2px; 
  background-color: #f4f4f4; 
  margin-left: 4px; 
  animation: blinkTextCursor 1s step-end infinite;
}

@keyframes blinkTextCursor {
  from, to { border-color: transparent; }
  50% { border-color: #f4f4f4; }
}
#header {
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
}

h1 {
  margin: 0;
}

.chat-container {
  margin-left: 2.5vw;
  width: 95vw;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
}

.chat-messages {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}
.bot-messages {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}
.bot-messages > * {
  width: fit-content;

}


.chat-messages > * {
  width: fit-content;

}

.message-bubble {
  max-width: 70%;
  margin: 10px;
  padding: 12px;
  border-radius: 12px;
  word-wrap: break-word;
  background-color: #057eff;
  margin-left: auto;
  margin-right: -0.25em;
}
#messageInput {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid white;
  border-radius: 4px;
  margin-right: 8px;
  box-sizing: border-box;
  resize: none;
  background: transparent;
  color: white; /* Set the text color to white */
}
.bot {
  max-width: 70%;
  margin: 10px;
  padding: 12px;
  border-radius: 12px;
  word-wrap: break-word;
  background-color: #666666;
  margin-right: auto;
  margin-left: 1.0em;
}


.user {
  background-color: #057eff;
  color: #fff;
}

.message-bubble:not(.user) {
  background-color: #e6e6e8;
}


.user-input {
  display: flex;
  padding: 10px;
  color:transparent;
}

.input-container {
  flex-grow: 1;
  display: flex;
  color:transparent;
}

#messageInput {
  flex-grow: 1;
  padding: 8px;
  border: 1px  solid white;
  border-radius: 4px;
  margin-right: 8px;
  box-sizing: border-box;
  resize: none;
  background:transparent;
}

.char-counter {
  position: absolute;
  bottom: 3px;
  right: 90px;
  color: rgb(255, 255, 255);
  font-size: 12px;
}

#sendMessageBtn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
  height: 2.5em;
  margin-bottom: 0.5em;
}

#sendMessageBtn:hover {
  background-color: #45a049;
}

@media screen and (max-width: 300px) {
  
}
.chat-messages,
.bot-messages {
  max-height: 700px;
  overflow-y: auto;
}